header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #221789;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 20px;
  cursor: pointer;
}

nav li:hover {
  color: #ffcc00;
}
