 .contact-center {
    text-align: center;
  }
  
  .contact-header {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  #contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%; 
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-text {
    color: red;
  }
  
  .btn {
    background-color: #f1356d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ee2361;
  }
  
  @media screen and (min-width: 768px) {
    #contact-form {
      width: 50%;
      margin: 0 auto;
    }
  } 

 